*
{
    box-sizing: border-box;
    margin: 0;
}

a {text-decoration: none; color: black;} p {font-size: 2em;}

body
{
 
   background-image: url(https://i.stack.imgur.com/jGlzr.png);
   background-size: auto;
   overflow-x: hidden;
   position: relative;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
} header nav{display: none;}

article
{
    display: flex;
    margin-top: 5em;
}
article .contact {
    background-color: white;
    border-radius: 3em;
    width: 160px;
    height: 245px;
    margin-left: 1.15em;
}
article .contact div
{
    text-align: center;
} article .contact div p {margin: 0; font-size: 1.5em; } 
article .contact div #tlf { font-size: 1.25em; } 
.userIcon
{
    display: flex;
    justify-content: center;
    width: 10em;
    height: 10em;
    margin: 0;
}