*
{
    box-sizing: border-box;
    margin: 0;  
}

a {text-decoration: none; color: black;} p {font-size: 2em;}

body
{
 
   background-image: url(https://i.stack.imgur.com/jGlzr.png);
   background-size: auto;
   overflow-x: hidden;
   position: relative;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
} header nav{display: none;}

/*
ALL THE CONTACT PAGE AND CONTACT CARD STYLES
*/
article
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 2em;
}
article .contact {
    justify-content: space-between;
    background-color: white;
    margin-top: 1.25em;
    border-radius: 3em;
    width: 160px;
    height: 245px;
    margin-left: 1.05em;
    margin-right: auto;
}
article .contact div
{
    text-align: center;
} article .contact div p {margin: 0; font-size: 1.5em; } 
article .contact div #tlf { font-size: 1.25em; } 
article .contact .contactNav
{
    display: flex;
    justify-content: center;
}

nav form button
{
    margin-left: 1.25em;
    margin-right: 1.25em;
    border-style: solid;
    border-radius: 3em;
    opacity: 1;
}
nav form button:hover
{
    opacity: 0.8;
}
nav form button:focus
{
    opacity: 1;
}

/*
    FOOTER STYLES
*/

footer
{
    background-color: aliceblue;
}
footer nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em; 
}
footer nav a
{
    font-size: 2em;
}
footer nav button
{
    width: 36px;
    height: 36px;
    border-style: solid;
    border-radius: 3em;
}

/*
    IMPORTED IMAGES STYLES
*/
    
.userIcon
{
    display: flex;
    width: 10em;
    height: 10em;
}
.editImg, .removeImg
{
    width: 20px;
    height: 20px;
}
#addContactImg
{
    width: 23px;
    height: 23px;
}