* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-image: url(https://i.stack.imgur.com/jGlzr.png);
    background-size: auto;
    overflow-x: hidden;
    position: relative;
  }

  #content
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1{font-size: 4em; font-family: 'Courier New', Courier, monospace; text-align: center;}
  
  header
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    margin-top: 2em;
  } header nav{display: none;}
  
  section
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
  }
  section h1
  {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.3em;
  }
  section input 
  {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    font-size: 2.15em;
    border-radius: 10px;
    border-style: none;
  }

  section form
  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #auth-btn
  {
    padding: 0.5em;
    font-size: 2em;
    border-radius: 10px;
  }  

   /*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  
  @media (min-width: 720px) 
  { /*DESKTOP STYLES*/
    * {
      margin: 0;
      box-sizing: border-box;
    }

    body {
      background-image: url(https://i.stack.imgur.com/jGlzr.png);
      background-size: auto;
    }

    #content
    {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    h1{font-size: 4em; font-family: 'Courier New', Courier, monospace; text-align: center; margin-left: 1.5em;}
    a{font-size: 2.5em; font-family: 'Courier New', Courier, monospace; text-decoration: none; color: black; margin-right: 1.5em;} a:hover{text-decoration: none; color: rgb(22, 43, 43);}

    header
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin-top: 1.5em;
    } header nav{display: flex;}

    section
    {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10em;
      padding-top: 5em;
      margin-top: 0em;
    }
    section h1
    {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 5em;
      padding-right: 2em;
      margin-bottom: 1em;
    }
    section input 
    {
      display: flex;
      flex-direction: column;
      margin-bottom: 2em;
      font-size: 3em;
      border-radius: 10px;
      border-style: none;
    }
    section form
    {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    #auth-btn
    {
      font-size: 2em;
      border-radius: 10px;
    }  

}