<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/contacts.css">
</head>

<body>
    <header>
        <div>
            <h1>CONTACTS APP</h1>
        </div>
        <nav>
            <a href="/">LOGOUT</a>
        </nav>
    </header>
</body>

</html>