<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/contacts.css">
</head>

<body>
    <header>
        <div>
            <h1>CONTACTS APP</h1>
        </div>
        <nav>
            <a href="/">LOGOUT</a>
        </nav>
    </header>

    <article>
        <div class="contact">
                    
            <img src="https://static.vecteezy.com/system/resources/previews/020/911/740/original/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" alt="userIcon" class="userIcon">

            <div>
                <p>test1</p>
                <p id="tlf">0123456789</p>
            </div>

        </div>
    </article>
</body>

</html>