<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App - Home</title>
  <link rel="stylesheet" href="/styles/home.css">


</head>

<body>
  <section>
    <div>

      <div id="title">
        <h1>CONTACTS APP</h1>
        <h2>by omartrese</h2>
      </div>

      <div id="buttons">
        <a class="btn btn-info btn-lg" href="/auth/login">LOGIN</a>
        <a class="btn btn-primary btn-lg" href="/auth/signup">SIGN UP</a>
      </div>

    </div>
  </section>



</body>

</html>