<head>
  <meta charset="utf-8">
  <title>Example App - Home</title>

  <link rel="stylesheet" href="/styles/signup.css">
</head>

<body>
  <div id="content">
    <header>
        <div>
            <h1>CONTACTS APP</h1>
        </div>
        <nav>
            <a href="/">HOME</a>
            <a href="/auth/login">LOGIN</a>
            <a href="/auth/signup">SIGN UP</a>
        </nav>
    </header>

    <section>
      <div> 
        <h1>Create account</h1>
      </div>
      <form action="/auth/signup" method="POST">
        
          <input type="text" placeholder="Username" name="username" required>
          <input type="password" placeholder="Password" name="password" required>
        

          {{!-- <input type="submit" value="Submit" class="btn btn-secondary btn-lg"> --}}
          <button id="auth-btn" class="btn btn-secondary btn-lg" >Submit</button>
      </form>
    </section>

  </div>
</body>

</html>